@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apply for an event</h1>
    <a class="btn btn-primary" asp-controller="Event" asp-action="Apply">Apply</a>
</div>
